In [2]:
import json

path = open("ratings.csv","w+")
path.write("UserID,itemID,Rating\n")
k = 0
with open("australian_users_items.json") as f:
    for i in f:
        k += 1
        i = eval(i.strip())
        for j in i['items']:
            if j["playtime_forever"] >0:
                path.write(str(i["user_id"])+","+str(j["item_id"])+","+str(j["playtime_forever"])+"\n")
        if k>1000:
            break
path.close()

In [4]:
# 每个 游戏均分等级
import pandas as pd
data = pd.read_csv("ratings.csv")
data.head()

              UserID  itemID  Rating
0  76561197970982479      10       6
1  76561197970982479      30       7
2  76561197970982479     300    4733
3  76561197970982479     240    1853
4  76561197970982479    3830     333

In [6]:
len(data),len(set(data.itemID))

(60715, 4360)

In [15]:
temp = data.groupby("itemID")["Rating"].agg(max)

data = pd.merge(data,pd.DataFrame(temp).reset_index(level=[0]),on="itemID")
data.head()

              UserID  itemID  Rating_x  Rating_y
0  76561197970982479      10         6    205234
1              doctr      10        93    205234
2     corrupted_soul      10       108    205234
3         WeiEDKrSat      10       328    205234
4       death-hunter      10      6275    205234

In [19]:
data["Rating"] = pd.qcut(data.Rating_x/data.Rating_y,q=5)
data.head()

              UserID  itemID  Rating_x  Rating_y                  Rating
0  76561197970982479      10         6    205234  (-0.00099751, 0.00567]
1              doctr      10        93    205234  (-0.00099751, 0.00567]
2     corrupted_soul      10       108    205234  (-0.00099751, 0.00567]
3         WeiEDKrSat      10       328    205234  (-0.00099751, 0.00567]
4       death-hunter      10      6275    205234        (0.0257, 0.0813]

In [22]:
lable2id = {}
for i in sorted(set(data.Rating)):
    lable2id[i] = len(lable2id)+1
lable2id

{Interval(-0.00099751, 0.00567, closed='right'): 1,
 Interval(0.00567, 0.0257, closed='right'): 2,
 Interval(0.0257, 0.0813, closed='right'): 3,
 Interval(0.0813, 0.265, closed='right'): 4,
 Interval(0.265, 1.0, closed='right'): 5}

In [23]:
data["Rating"] = data["Rating"].apply(lambda x:lable2id[x])

In [24]:
data[["UserID","itemID","Rating"]].to_csv("ratings1.csv",index=False)